.p1{
  text-align: center;
}
.p2{
  padding: 1rem;
  grid-template-columns: max-content;
}
.p3{
  flex-direction: row;
   justify-content: center;
}
.col-12{
columns: auto;
}
.p4{
  text-align: center;
  justify-content: center;
}
.p5{
  text-align: center;
  justify-content: center;
}
.p6 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.p6 td, .p6 th {
  border: 1px solid #ddd;
  padding: 8px;
}

.p6 tr:nth-child(even){background-color: #f2f2f2;}

.p6 tr:hover {background-color: #ddd;}

.p6 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:rgb(92,233,233);
  color: white;
}
.p6 td button{
  padding: 0rem 1rem;
}
